<div class="row ">
  <div class="col-md-8 mt-5 m-auto">
    <div class="card card-body">
      <form action="/filter" method="GET">
        <div class="index-sort mb-5">
          <select class="form-select" id="validationServer02" aria-describedby="validationServer02Feedback"
            selectedIndex="" name="filter" onchange="this.form.submit()" value="{{filterSelect}}">
            <option selected disabled value="">類別</option>
            <option value='家居物業'>家居物業</option>
            <option value='交通出行'>交通出行</option>
            <option value='休閒娛樂'>休閒娛樂</option>
            <option value='餐飲食品'>餐飲食品</option>
            <option value='其他'>其他</option>
          </select>
        </div>
      </form>

      {{!-- 總金額卡s --}}
      <div class="row mb-5">
        <div class="col-4">
          <h5 class="text-start">總金額:</h5>
        </div>
        <div class="col-8 mb-3">
          <h1 class="text-end" style="font-size: 48px">{{total}}</h1>
        </div>
      </div>
      {{!-- 總金額卡s --}}

      {{!-- 消費卡s --}}
      {{#each records}}
      <div class="expense-card mb-3">
        <div class="row g-0">

          <div class="col-2 d-flex align-items-center justify-content-center">
            <i class="{{this.categoryId.icon}}"></i>
          </div>

          <div class="col-5">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text"><small class="text-muted">{{this.date}}</small></p>
            </div>
          </div>

          <div class="col-5 d-flex align-items-center justify-content-end me-0">
            <form action="/records/{{this._id}}/delete?_method=DELETE" method="POST">
              <div class="card-body">
                <p class="card-text text-end">
                  <span class="me-3">{{this.amount}}</span>

                  <a class="me-2" href="/records/{{this._id}}/edit">修改</a>
                  <button class="index-delete-button" type="submit">
                    刪除
                  </button>
                </p>
              </div>
            </form>
          </div>

        </div>
      </div>
      {{/each}}
      {{!-- 消費卡e --}}

    </div>
  </div>
</div>